<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    <add assembly="NLog.Extensions.AzureBlobStorage" />
  </extensions>

  <variable name="logDirectory" value="C:\temp\Logs"/>
  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File"
            name="debugFile"
            fileName="${logDirectory}\MissionControl\Debug\nlog-debug-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />

    <target xsi:type="File"
            name="errorFile"
            fileName="${logDirectory}\MissionControl\Error\nlog-error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="informationFile"
            fileName="${logDirectory}\MissionControl\Information\nlog-info-${shortdate}.log"
            layout="${longdate}|${logger}|${message}" />
    
    <target type="AzureBlobStorage"
           name="azureBlobStorage"
           layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}"
            connectionString="DefaultEndpointsProtocol=https;AccountName=ReplaceWithAccountName;AccountKey=ReplaceWithAccountKey;EndpointSuffix=core.windows.net"
            container="nlog"
            blobName="ExampleApp\${logger}\nlog-debug-${shortdate}.log" />

    <target type="ApplicationInsightsTarget" name="aiTarget" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" level="Trace" writeTo="debugFile" />
    <logger name="*" minLevel="Trace" writeTo="errorFile" />
    <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    <logger name="*" minlevel="Trace" writeTo="azureBlobStorage" />
  </rules>
</nlog>